
* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 352px;
    height: 298px;
    margin: 0 auto;
    outline: 1px solid white;
    transform: scale(2) translateY(35%)
}

.game-container canvas {
    image-rendering:optimizeQuality;
}


.scene-transition {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    opacity: 0;
    z-index: 20;
}

.scene-transition.fade-out {
    animation: scene-transition-fade-out 1.2s forwards;

}


@keyframes scene-transition-fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}
@keyframes scene-transition-fade-out {
    from { opacity: 1 }
    to { opacity: 0 }
}